<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2013 Leon Blakey <lord.quackstar at gmail.com>

    This file is part of Unified StackExchange Data Dump Importer.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, softwar
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Tune for batch insertion -->
    <property name="hibernate.default_entity_mode">dynamic-map</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    <property name="hibernate.order_inserts">true</property>
    <property name="hibernate.order_updates">true</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="cache.use_query_cache">false</property>
    <!-- Use unicode -->
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.connection.characterEncoding">UTF-8</property>
    <property name="hibernate.connection.charSet">UTF-8</property>
    <!-- Our mapping file -->
    <mapping resource="mapping.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
